@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../static/fonts/sharp-sans/SharpSansDispNo1-Book.woff') format('woff'), url('../static/fonts/sharp-sans/SharpSansDispNo1-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'Sharp Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../static/fonts/sharp-sans/SharpSansDispNo1-BookIt.woff') format('woff'), url('../static/fonts/sharp-sans/SharpSansDispNo1-BookIt.woff2') format('woff2');
}

@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../static/fonts/sharp-sans/SharpSansDispNo1-Medium.woff') format('woff'), url('../static/fonts/sharp-sans/SharpSansDispNo1-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Sharp Sans';
  font-style: italic;
  font-weight: 500;
  src: url('../static/fonts/sharp-sans/SharpSansDispNo1-MediumIt.woff') format('woff'), url('../static/fonts/sharp-sans/SharpSansDispNo1-MediumIt.woff') format('woff2');
}

@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../static/fonts/sharp-sans/SharpSansDispNo1-Semibold.woff') format('woff'), url('../static/fonts/sharp-sans/SharpSansDispNo1-Semibold.woff') format('woff2');
}

@font-face {
  font-family: 'Sharp Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../static/fonts/sharp-sans/SharpSansDispNo1-SemiboldIt.woff') format('woff'), url('../static/fonts/sharp-sans/SharpSansDispNo1-SemiboldIt.woff2') format('woff2');
}

@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../static/fonts/sharp-sans/SharpSansDispNo1-Bold.woff') format('woff'), url('../static/fonts/sharp-sans/SharpSansDispNo1-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../static/fonts/sharp-sans/SharpSansDispNo1-Extrabold.woff') format('woff'), url('../static/fonts/sharp-sans/SharpSansDispNo1-Extrabold.woff2') format('woff2');
}

body {
  font-family: 'Sharp Sans', sans-serif;
}

.project-content p {
  margin-bottom: 12px;
}

.project-content p:first-child {
  font-size: 24px;
}

.project-content a {
  text-decoration: underline;
}
