@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/sharp-sans/SharpSansDispNo1-Book.woff') format('woff'), url('../public/fonts/sharp-sans/SharpSansDispNo1-Book.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../public/fonts/sharp-sans/SharpSansDispNo1-BookIt.woff') format('woff'), url('../public/fonts/sharp-sans/SharpSansDispNo1-BookIt.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/sharp-sans/SharpSansDispNo1-Medium.woff') format('woff'), url('../public/fonts/sharp-sans/SharpSansDispNo1-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Sans';
  font-style: italic;
  font-weight: 500;
  src: url('../public/fonts/sharp-sans/SharpSansDispNo1-MediumIt.woff') format('woff'), url('../public/fonts/sharp-sans/SharpSansDispNo1-MediumIt.woff') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../public/fonts/sharp-sans/SharpSansDispNo1-Semibold.woff') format('woff'), url('../public/fonts/sharp-sans/SharpSansDispNo1-Semibold.woff') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../public/fonts/sharp-sans/SharpSansDispNo1-SemiboldIt.woff') format('woff'), url('../public/fonts/sharp-sans/SharpSansDispNo1-SemiboldIt.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/sharp-sans/SharpSansDispNo1-Bold.woff') format('woff'), url('../public/fonts/sharp-sans/SharpSansDispNo1-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../public/fonts/sharp-sans/SharpSansDispNo1-Extrabold.woff') format('woff'), url('../public/fonts/sharp-sans/SharpSansDispNo1-Extrabold.woff2') format('woff2');
  font-display: swap;
}

main {
  @apply focus:outline-none;
}

a,
button,
input,
textarea,
select {
  @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-magenta;
}

#nc-root {
  a,
  button,
  input,
  textarea,
  select {
    @apply focus-visible:ring-0;
  }
}

.prose {
  strong {
    @apply text-current;
  }

  a {
    @apply text-current hover:no-underline;
  }

  hr {
    @apply border-gray-700;
  }
}

.project-content {
  p {
    @apply mb-3;

    &:first-child {
      @apply text-2xl;
    }
  }

  a {
    @apply underline hover:no-underline;
  }
}

.nav-link {
  @apply relative;
}

.nav-link::before,
.nav-link::after {
  @apply absolute top-full left-0 w-full bg-current pointer-events-none;
}

.nav-link::before {
  @apply top-0 h-full opacity-0;

  content: "";
}

.nav-link:hover::before {
  @apply opacity-100;

  animation: coverUp 0.3s ease forwards;
}

@keyframes coverUp {
  0% {
    transform-origin: 50% 100%;
    transform: scale3d(1, 0.045, 1);
  }

  50% {
    transform-origin: 50% 100%;
    transform: scale3d(1, 1, 1);
  }

  51% {
    transform-origin: 50% 0%;
    transform: scale3d(1, 1, 1);
  }

  100% {
    transform-origin: 50% 0%;
    transform: scale3d(1, 0.045, 1);
  }
}

.nav-link::after {
  content: "";
  transition: opacity 0.3s;
}

.nav-link:hover::after {
  @apply opacity-0;
}

.logo-animating {
  .yellow {
    transform-origin: 50%;
    animation: rotateIn 1.5s cubic-bezier(0.4, 1, 0.75, 0.5) infinite forwards;
    animation-direction: normal, reverse;
  }

  .magenta {
    transform-origin: 50%;
    animation: rotateIn 1s cubic-bezier(0.4, 1, 0.75, 0.5) infinite forwards;
  }

  .cyan {
    transform-origin: 50%;
    animation: rotateIn 0.5s cubic-bezier(0.4, 1, 0.75, 0.5) infinite forwards;
  }
}

@keyframes rotateIn {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes rotateOut {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

.home-header {
  height: 400px;

  @screen sm {
    height: 550px;
  }
}

.twitter-tweet,
.fb-post {
  @apply text-gray-400;

  p {
    @apply mb-4 text-lg text-white;
  }
}
